include ./../../components/rate-button/rate-button.pug

mixin room-card(number='ОШИБКА', lux='ОШИБКА', cost='ОШИБКА', rate='ОШИБКА', feedbacks='ОШИБКА', addClass='')
  .room-card
    .room-card__images
      .slider
        .slider__wrapper
          img.slider__item(src=require("./pages/search-room/" + number + ".png"))
          img.slider__item(src=require("./pages/search-room/" + number + ".png"))
          img.slider__item(src=require("./pages/search-room/" + number + ".png"))
          img.slider__item(src=require("./pages/search-room/" + number + ".png"))
        .slider__buttons
          .slider__button-left
            button.slider__button.slider__button-prev.material-icons(type="button") expand_more
          .slider__button-right
            button.slider__button.slider__button-next.material-icons(type="button") expand_more
          .slider__indicators
            button.slider__indicator.slider__indicator-1.slider__indicator-active
            button.slider__indicator.slider__indicator-2
            button.slider__indicator.slider__indicator-3
            button.slider__indicator.slider__indicator-4
    .room-card_details
      .room-card__info
        a.room-card__number(href="#") № 
          span.number__room= number
          if lux=="lux"
            span.room-card__lux люкс
        span.room-details__text 
          span.room-details__text-bold= cost
            | ₽ 
          | в сутки
      .room-card__rates
        +rate-buttons(rate)
        span.room-rates__text
          span.room-rates__text-bold= feedbacks 
          |  Отзывов

//- +room-card("lux")