mixin text-field(mode, type='text', placeholder='', name='', addClass='')
  if mode=='mask'
    input(type=type name=name class="text-field text-field_mask " + addClass)
  else
    input(type=type name=name placeholder=placeholder class="text-field " + addClass)

//- +text-field("mask", type, placeholder, "Email", "addClass")

