mixin text-field(mode, type='text', placeholder='', name='')
  if mode=='mask'
    input.text-field.text-field_mask(type=type name=name)
  else
    input.text-field(type=type name=name placeholder=placeholder)

+text-field("mask", type, "Email", "Email")

